@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>index</title>
  

    <!-- Favicons -->
    <link href="Content/img/favicon.png" rel="icon">
    <link href="Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="Content/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="Content/css/style.css" rel="stylesheet">

  
</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="https://www.microsoft.com/africa/4afrika/appfactory.aspx" class="scrollto"><img src="Content/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav class="main-nav float-left d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro"><b>Home</b></a></li>
                    <li><a href="#about"><b>About Us</b></a></li>
                    <li><a href="#services"><b>Services</b></a></li>
                    <li><a href="#portfolio"><b>Portfolio</b></a></li>
                    <li><a href="#team"><b>Team</b></a></li>
                    <li><a href="#footer"><b>Contact Us</b></a></li>
                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix" style="height: 870px;">

        <div class="container">

            <div class="intro-img">
                <img src="Content/img/intro-img.png" alt="" class="img-fluid">

            </div>
            <br>  <br>  <br>  <br>  <br>  <br>
            <div class="intro-info">
                <h2>Talent wins games,but teamwork and intelligence win championships !</h2>
                <div>
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="#services" class="btn-services scrollto">Our Services</a>
                </div>
            </div>

        </div>
    </section><!-- #intro -->

    <main id="main">

        <!--==========================
      About Us Section
    ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>About Us</h3>
                    <p>We are Young Ethiopian Developers, training in Wollo university app-factory academy which is a part of Microsoft4africa program. Here working to become an effective developer in the future. By Aiming being future successful developer we are working in a best team organization!/,</p>
                </header>

                <div class="row about-container">

                    <div class="col-lg-6 content order-lg-1 order-2">
                        <p>
                            Teamwork is the collaborative effort of a group to achieve a common goal or to complete a task in the most effective and efficient way. This concept is seen within the greater framework of a team, which is a group of interdependent individuals who work together towards a common goal.
                        </p>

                        <div class="icon-box wow fadeInUp">
                            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                            <h4 class="title">
                                <a href="">
                                    Collaboration
                                </a>
                            </h4>
                            <p class="description">The idea is simple enough: the more you collaborate and the more you communicate, the more you create.</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon"><i class="fa fa-photo"></i></div>
                            <h4 class="title">
                                <a href="">
                                    Common goals
                                </a>
                            </h4>
                            <p class="description">A chief characteristic of any successful team is that members place the common goal above individual interests.</p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon"><i class="fa fa-bar-chart"></i></div>
                            <h4 class="title">
                                <a href="">
                                    Encourage differences in opinions
                                </a>
                            </h4>
                            <p class="description">Agreeing on a common goal is essential. But it shouldn’t come at the cost of suppressing alternative ideas and opinions. Having divergent opinions within a team enhances team performance; a diverse team is its competitive advantage.</p>
                        </div>

                    </div>

                    <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                        <img src="Content/img/about-img.svg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="row about-extra">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="Content/img/about-extra-1.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h4>Team Leader leads the team.</h4>
                        <p>
                            Hayat is the master team leader and project manager who provides guidance, instruction, direction and leadership to the team for the purpose of achieving a key result or group of aligned results.
                        <p>She monitors the quantitative and qualitative achievements of the team and reports results to a higehr managers </p>
                        </p>
                    </div>
                </div>

                <div class="row about-extra">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                        <img src="Content/img/about-extra-2.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                        <h4>Team work in app-factory with Devops</h4>
                        <p>
                            The most intersting experiance that we grasp from these academy is working with the model of Devops, where it simplified the tasks for us and share responsiblities among team members.
                        </p>
                        <p>
                            By improving our experiance in working with Devops model we will join in another high level and latest model of team work concept DevSecOps to controll the secuity of our works
                        </p>
                        <p>
                            The team structured in a Devops organization form to shoot our target.
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- #about -->
        <!--==========================
      Services Section
    ============================-->
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Quality of our Services</h3>
                    <p>The Perfoemace of a team measured with the quality of the services!</p>
                </header>

                <div class="row">

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                            <h4 class="title"><a href="">Reliability</a></h4>
                            <p class="description">We Ensure the quality of application updates and infrastructure changes so we can reliably deliver at a more rapid pace while maintaining a positive experience for end users.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                            <h4 class="title"><a href="">Scale</a></h4>
                            <p class="description">We Operate and manage our infrastructure and development processes at scale. Automation and consistency help us  manage complex or changing systems efficiently and with reduced risk.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                            <h4 class="title">
                                <a href="">
                                    Improved Collaboration
                                </a>
                            </h4>
                            <p class="description">We Build more effective teams under a DevOps cultural model, which emphasizes values such as ownership and accountability. Developers and operations teams collaborate closely, share many responsibilities, and combine their workflows.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                            <h4 class="title"><a href="">Speed</a></h4>
                            <p class="description">We move at high velocity so we can innovate for customers faster, adapt to changing markets better, and grow more efficient at driving business results.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
                            <h4 class="title">
                                <a href="">
                                    Security
                                </a>
                            </h4>
                            <p class="description">We Move quickly while retaining control and preserving compliance. We can adopt a DevOps model without sacrificing security by using automated compliance policies, fine-grained controls, and configuration management techniques.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
                            <h4 class="title"><a href="">Rapid Delivery</a></h4>
                            <p class="description">Increase the frequency and pace of releases so we can innovate and improve our product faster. The quicker we can release new features and fix bugs, the faster we can respond to our customers’ needs and build competitive advantage.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #services -->
        <!--==========================
      Why Us Section
    ============================-->
        <section id="why-us" class="wow fadeIn">
            <div class="container">
                <header class="section-header">
                    <h3>Why we choose App-Factory Academy?</h3>
                    <p>Behind every decision there are reasons serve as a ladder of inference about the decision here are the reasons why we choose app-factory academy.</p>
                </header>

                <div class="row row-eq-height justify-content-center">

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-diamond"></i>
                            <div class="card-body">
                                <h5 class="card-title">Skills and Resources</h5>
                                <p class="card-text">It develops the digital skills, coding capabilities and workplace readiness of young graduates.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-language"></i>
                            <div class="card-body">
                                <h5 class="card-title">International Education</h5>
                                <p class="card-text">Being part of app-factory means being part of the whole microsoft community.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="card wow bounceInUp">
                            <i class="fa fa-object-group"></i>
                            <div class="card-body">
                                <h5 class="card-title">Opportunity for Job</h5>
                                <p class="card-text">As Microsoft4africa program has a partnership with many company there is a great chance of Job Opportunity. </p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </section>

        <!--==========================
      Portfolio Section
    ============================-->
        <section id="portfolio" class="clearfix">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">Our Portfolio</h3>
                </header>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">AI</li>
                            <li data-filter=".filter-web">Web</li>
                            <li data-filter=".filter-window">Window</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">App 1</a></h4>
                                <p>App</p>
                                <div>
                                    <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">Web 3</a></h4>
                                <p>Web</p>
                                <div>
                                    <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">Learning App For Kids</a></h4>
                                <p>Mobile App</p>
                                <div>
                                    <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">Card 2</a></h4>
                                <p>Card</p>
                                <div>
                                    <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">Web 2</a></h4>
                                <p>Web</p>
                                <div>
                                    <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">Intelligent Friend App</a></h4>
                                <p>AI Mobile App</p>
                                <div>
                                    <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">Card 1</a></h4>
                                <p>Card</p>
                                <div>
                                    <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">Card 3</a></h4>
                                <p>Card</p>
                                <div>
                                    <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4><a href="#">Web 1</a></h4>
                                <p>Web</p>
                                <div>
                                    <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #portfolio -->
        <!--==========================
      Clients Section
    ============================-->
        <section id="testimonials" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Our Instructres as Testimonials</h3>
                </header>

                <div class="row justify-content-center">
                    <div class="col-lg-8">

                        <div class="owl-carousel testimonials-carousel wow fadeInUp">

                            <div class="testimonial-item">
                                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                                <h3>Mr.Hassen Ibrahim</h3>
                                <h4>Bussiness Application Development Director</h4>
                                <p>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                                <h3>Mr. Solomon </h3>
                                <h4>Developer and Instructre</h4>
                                <p>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                                <h3>Mr. Eyooel</h3>
                                <h4>Developer and Instructre</h4>
                                <p>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                                <h3>Mr. Mohammed</h3>
                                <h4>Developer and Instructre</h4>
                                <p>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                </p>
                            </div>

                            <div class="testimonial-item">
                                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                                <h3>Mr.Nahom</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </section><!-- #testimonials -->
        <!--==========================
      Team Section
    ============================-->
        <section id="team">
            <div class="container">
                <div class="section-header">
                    <h3>Team</h3>
                    <p>The Five members with responsiblities and  photos are as follow:</p>
                </div>

                <div class="row">

                    <div class="col-md-2 col-sm-4 wow fadeInUp">
                        <div class="member">
                            <img src="Content/img/team-1.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Hayat Gashawu</h4>
                                    <span>Project Manager</span>
                                    <div class="social">

                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="Content/img/team-2.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Abera Mohammed</h4>
                                    <span>Project Owner</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="Content/img/team-3.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Abdurezaq</h4>
                                    <span>Team Member</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="member">
                            <img src="Content/img/team-4.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Yimam Ahmed</h4>
                                    <span>Team Member</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="member">
                            <img src="Content/img/team_5.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Jemal Yesuf</h4>
                                    <span>Team Member</span>
                                    <div class="social">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- #team -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 footer-info">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.8350891897135!2d39.748210964478474!3d11.050987929082169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x16479d57aa24a145%3A0x900460ba18dc31a2!2sApp-Factory%20Academy!5e0!3m2!1sen!2set!4v1617893556140!5m2!1sen!2set" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                    <div class="col-md-4 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            App-Factory Acadamy <br>
                            Wollo, Kombolcha<br>
                            <strong>Ethiopia </strong><br>
                            <strong>Phone:</strong> +251 921 635 315<br>
                            <strong>Email:</strong> trustdeveloper@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="https://t.me/Do_You_Know_BlackHat_Hacker" class="telegram" title="Telegram"><i class="fa fa-telegram"></i></a>
                            <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=CllgCKBzzwgQTPHQtdnsqswWJpZFnXHGSNGjnHvDvPzlHNfMlfbPTvqZPCbfsBlxpMbhNjWXrJB" class="email" title="E-mail"><i class="fa fa-envelope"></i></a>
                            <a href="https://www.youtube.com/channel/UCHR5epkUH9EPy2JcPlgLliA/playlists" class="youtube" title="Youtube"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>2021</strong>. All Rights Reserved.
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
                -->
                Designed by <a href="https://bootstrapmade.com/">App-Factory Acadamy</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="Content/lib/jquery/jquery.min.js"></script>
    <script src="Content/lib/jquery/jquery-migrate.min.js"></script>
    <script src="Content/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="Content/lib/easing/easing.min.js"></script>
    <script src="Content/lib/mobile-nav/mobile-nav.js"></script>
    <script src="Content/lib/wow/wow.min.js"></script>
    <script src="Content/lib/waypoints/waypoints.min.js"></script>
    <script src="Content/lib/counterup/counterup.min.js"></script>
    <script src="Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="Content/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="Content/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="Content/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="Content/js/main.js"></script>

</body>
</html>
